@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Dancing+Script&display=swap:');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #525252;
    font-size: 1rem;
}

/*-------------------------------------Heading */

header {
    overflow: hidden;
    height: 100vh;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    padding: .5rem 2rem;
}

.logo {
    margin: .5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fafafa;
    padding: 1rem;
    letter-spacing: 2px;
    display: block;
}

.navbar-links li:hover {
    background-color: #83939d;
}

/*-------------------------------------Banner */

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    color: #363e45;
    font-size: 55px;
    margin: 0;
}

.banner-text p {
    color: #b46426;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.contact-btn {
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fafafa;
    padding: 10px 25px;
    color: #fafafa;
    border-radius: 25px;
}

.btn:hover {
    background-color: #006994;
}

/*-------------------------------------Main page */

.main-page {
    text-align: center;
    text-transform: uppercase;
    padding-top: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.highlight-underline-blue::after {
    content: "";
    width: 8rem;
    position: absolute;
    margin: 0 auto;
    height: 5px;
    background: #8f8f8f;
    left: 0;
    right: 0;
    bottom: -10px;
}

.main-text {
    text-align: center;
    padding: 3rem 8rem;
}

/*-------------------------------------Mobile view */

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 23px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 10px;
}

/*-------------------------------------Trips section*/

#section-background {
    background: #dbdbdb;
}

.section-icon {
    text-align: center;
    font-size: 70px;
    margin: 0 auto;
    width: 73px;
    bottom: 20px;
    z-index: 99;
    padding-top: 3rem;
}

.trips-page {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.highlight-underline-white::after {
    content: "";
    width: 8rem;
    position: absolute;
    margin: 0 auto;
    height: 5px;
    background: #fafafa;
    left: 0;
    right: 0;
    bottom: -10px;
}

.info-text {
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.container {
    max-width: initial;
    margin: auto;
    overflow: auto;
    padding: 2rem;
}

.row .padding {
    padding: 2rem;
}

.images {
    float: left;
    width: 415px;
}

.images:hover {
    color: #000;
    opacity: .7;
}

.country {
    position: relative;
    padding: 10px 0 5px;
    transform: translate(0%, -100%);
    text-align: center;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.country h3 a {
    color: #fafafa;
    font-size: 24px;
    font-weight: 700;
}

/*-------------------------------------Map */

#map-container {
    height: 290px;
    max-width: 860px;
}

.maps {
    width: 95%;
    height: 250px;
    box-shadow: var(--box-shadow);
    border: 2px solid #b46426;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
}

.map-col {
    padding: 1.5rem;
    background: #93bcc8;
}

/*-------------------------------------Cuba page */

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

.multicolor {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.cuba {
    background-image: linear-gradient(to left, red, blue, white);
}

.length-trip {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.p-text {
    text-align: center;
    padding: .75rem 8rem;
    margin-bottom: 0;
}

/*-------------------------------------Russia page */

.russia {
    background-image: linear-gradient(to left, red, blue);
}

/*-------------------------------------Myanmar page */

.myanmar {
    background-image: linear-gradient(to left, yellow, green, red);
}

/*-------------------------------------India page */

.india {
    background-image: linear-gradient(to left, orange, green, blue);
}

/*-------------------------------------Accordion */

.accordion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.btn-itinerary {
    display: block;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 25px;
    color: #fafafa;
}

.card .card-header {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    margin: .5rem 8rem;
    width: 50%;
}

.btn-link {
    width: 100%;
    height: 42px;
    color: #8f8f8f;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
    color: #007bff;
}

.card-body {
    background: #93bcc8;
}

.card-body:hover {
    text-decoration: none;
}

.btn-link:after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 5.5px;
    position: absolute;
    background: #e8eeff;
}

.btn-link.collapsed:after {
    content: '\002B';
}

.btn-link:before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background: #fff;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 31px;
}

/*-------------------------------------Carousel */

.carousel-item {
    height: 32rem;
    background: #777;
    position: relative;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

/*-------------------------------------Modal */
/*CREDIT: The idea of this code was taken from Coding Nepal's tutorial ("https://www.youtube.com/watch?v=OQ0hgVVwNOI")
with a few modifications done to suit what I needed*/

#contactform {
    padding-right: 2.5rem;
}

.modal-content {
    padding-top: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-content .modal-title {
    text-align: center;
    font-size: 35px;
    font-weight: 6;
    background-image: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-header button {
    font-size: xxx-large;
}

.modal-content form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

label {
    display: initial;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    background: #fff;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before,
.input-data .underline:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.textarea textarea:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scaleX(1);
}

.subscribe-text {
    margin-left: 2.5rem;
    font-weight: bold;
}

.form-check {
    margin-left: 3.5rem;
    margin-bottom: .5rem;
}

.modal-footer {
    display: block;
    text-align: center;
}

.modal-footer button {
    display: inline-block;
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
    border: 3px solid #fafafa;
    padding: 10px 25px;
    color: #fafafa;
    border-radius: 10px;
    text-align: center;
}

/*-------------------------------------Media queries */

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .p-text {
        padding: .75rem 5rem;
    }

    .card {
        margin: .5rem 5rem;
    }

    .carousel-item {
        height: 25rem;
    }

    .modal-content {
        width: 600px;
    }

    #map-container {
        height: 360px;
        max-width: 732px;
    }


}

@media (max-width: 375px) {
    .navbar {
        padding: .75rem;
    }

    .logo {
        font-size: 2.2rem;
        padding-left: 1rem;
    }

    .toggle-button {
        top: 2.2rem;
        right: 1.8rem;
    }

    .banner-text h2 {
        font-size: 50px;
        margin-top: 3rem;
    }

    .main-text {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .p-text {
        padding: .75rem 2rem;
    }

    .card {
        margin: .5rem 2rem;
    }

    .btn-link {
        font-size: 13px;
    }

    .carousel-item {
        height: 13rem;
    }

    .modal-content {
        width: 300px;
        height: 107vh;
        padding: 1.2rem;
        margin-left: 2rem;
    }

    .modal-content .modal-title {
        font-size: 23px;
    }

    .modal-header button {
        font-size: xx-large;
    }

    .modal-body {
        padding: 0;
    }

    #lastName {
        margin-top: 2rem
    }

    #emailAddress {
        margin-top: 2rem
    }

    .info-text {
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .row {
        margin-left: -15px;
    }

    .images {
        width: 340px;
        height: 15rem;
    }

    #footer-details {
        text-align: center;
    }

    #footer-details h5 {
        font-size: 1.5rem;
        margin-bottom: .75rem;
    }

    #footer-details p {
        margin-bottom: 1.5rem;
    }

    .social-links {
        margin-bottom: 1.5rem;
    }

    #form .field #email {
        text-align: center;
    }

}

@media (max-width: 320px) {
    .navbar {
        padding: .75rem;
        background-color: #000;
    }

    .logo {
        font-size: 2rem;
    }

    .toggle-button {
        top: 2.2rem;
        right: 1rem;
        width: 26px;
        height: 18px;
    }

    .banner-text h2 {
        font-size: 40px;
        margin-top: 6rem;
    }

    .info-text {
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .row {
        margin-right: 0px;
        margin-left: -10px;
    }

    .images {
        height: 12rem;
        width: 280px;
    }

    #footer-details {
        text-align: center;
    }

    #footer-details h5 {
        font-size: 1.3rem;
        margin-bottom: .75rem;
    }

    #footer-details p {
        margin-bottom: 1.5rem;
    }

    .social-links {
        margin-bottom: 1.5rem;
    }

    #form .field #email {
        font-size: 16px;
    }

    .modal-content {
        width: 260px;
        height: 130vh;
        padding: 1.2rem;
        margin-left: 1.5rem;
    }

    .modal-content .modal-title {
        font-size: 21px;
    }

    .input-data label {
        font-size: 15px;
    }
}


/*-------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#footer-details {
    padding: 3rem;
}

.inline-block a {
    color: #fff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

i.fa-facebook-f:hover {
    background: #3b5998;
}

i.fa-instagram:hover {
    background: #c32aa3;
}

i.fa-twitter:hover {
    background: #00acee;
}

i.fa-youtube:hover {
    background: #c4302b;
}

.form-group {
    margin-bottom: 0.7rem;
}

.content #form .field {
    width: 100%;
    height: 32px;
    display: flex;
    position: relative;
}

#form .field input {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
}

#form .field .icons {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.field .icons span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 25px;
    display: none;
}

.field .icons span.icon1 {
    color: #e74c3c;
    border-color: #e74c3c;
}

.field .icons span.icon2 {
    color: #27ae60;
    border-color: #27ae60;
}

#form .error-text {
    position: relative;
    margin: 15px 0 -5px 0;
    background: #e74c3c;
    color: #fceae8;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    user-select: none;
    display: none;
}

#form .error-text:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #e74c3c;
    right: 20px;
    top: -7px;
    transform: rotate(45deg);
}

#form button {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #27ae60;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

#form button:hover {
    background: #219150;
}