@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap:');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #5e6163;
}

/*-------------------------------------Heading */

header {
    overflow: hidden;
    height: 100vh;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

.nav-area {
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
    position: absolute;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin: 0 50px;
    height: 60px;
    float: left;
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu-area {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu-area li {
    display: inline-block;
    margin: 0 5px;
}

.menu-area li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.menu-area li a:hover {
    color: #ffff00;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    color: #fff;
    font-size: 55px;
    margin: 0;
}

.banner-text p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 25px;
}

.btn:hover {
    color: #ffff00;
}

/*-------------------------------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

/*-------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block a {
    color: #fff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

i.fa-facebook-f:hover {
    background: #3b5998;
}

i.fa-instagram:hover {
    background: #c32aa3;
}

i.fa-twitter:hover {
    background: #00acee;
}

i.fa-youtube:hover {
    background: #c4302b;
}

#footer-details {
    padding: 20px;
}

.form-group {
    margin-bottom: 0.7rem;
}

.btn-footer {
    display: inline-block;
    background: #8f8f8f;
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 15px;
}