@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Dancing+Script&display=swap:');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #525252;
    font-size: 1rem;
}

/*-------------------------------------Heading */

header {
    overflow: hidden;
    height: 100vh;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin: .5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fafafa;
    padding: 1rem;
    letter-spacing: 2px;
    display: block;
}

.navbar-links li:hover {
    background-color: #006994;
}

/*-------------------------------------Banner */

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    color: #fff;
    font-size: 55px;
    margin: 0;
}

.banner-text p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fafafa;
    padding: 10px 25px;
    color: #fafafa;
    border-radius: 25px;
}

.btn:hover {
    background-color: #006994;
}

/*-------------------------------------Main page */

.main-page {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.highlight-underline-blue::after {
    content: "";
    width: 8rem;
    position: absolute;
    margin: 0 auto;
    height: 5px;
    background: #8f8f8f;
    left: 0;
    right: 0;
    bottom: -10px;
}

.main-text {
    text-align: center;
    padding: 3rem 8rem;
}

/*-------------------------------------Mobile view */

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 23px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 10px;
}

/*-------------------------------------Trips section*/

#section-background {
    background: #dbdbdb;
} 

.section-icon {
    text-align: center;
    font-size: 70px;
    margin: 0 auto;
    width: 73px;
    bottom: 20px;
    z-index: 99;
}

.trips-page {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.highlight-underline-white::after {
    content: "";
    width: 8rem;
    position: absolute;
    margin: 0 auto;
    height: 5px;
    background: #fafafa;
    left: 0;
    right: 0;
    bottom: -10px;
}

.info-text {
    text-align: left;
    padding: 2rem 3rem;
}

.container {
    max-width: initial;
    margin: auto;
    overflow: auto;
    padding: 2rem;
}

.images {
    float: left;
    width: 415px;
    padding: 1rem;
}

.images:hover {
    color: #000;
    opacity: .7;
}

.country {
    position: relative;
    padding: 10px 0 5px;
    transform: translate(0%, -100%);
    text-align: center;
    background: rgba(0,0,0,.5);
    cursor: pointer;
}

.country h3 a {
    color: #fafafa;
    font-size: 24px;
    font-weight: 700;
}

/*-------------------------------------Cuba page */

h1 {
    text-align: center;
}

.multicolortext {
    background-image: linear-gradient(to left, red, blue, white, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.length-trip {
    text-align: center;
    font-family: 'Dancing Script', cursive; 
}

.p-text {
    text-align: center;
    padding: 2rem 8rem;
}

/*-------------------------------------Accordion */

.btn-itinerary {
    display: inline-block;
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 25px;
    color: #fafafa;
}
.card .card-header {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(110,130,208,.18);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    margin: .5rem 8rem;
}

.btn-link {
    width: 100%;
    height: 42px;
    color: #8f8f8f;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

.card-body {
    background: #e8eeff;
}

.btn-link:after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 5.5px;
    position: absolute;
    background: #e8eeff;
}

.btn-link.collapsed:after {
    content: '\002B';
}

.btn-link:before {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background: #fff;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 33px;
}
/*-------------------------------------Carousel */

.carousel-item {
    height: 32rem;
    background: #777;
    position: relative;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}


/*-------------------------------------Media queries */

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .p-text {
        padding: 2rem 5rem;
    }
    .card {
        margin: .5rem 5rem;
    }
    .carousel-item {
        height: 25rem;
    }
}

@media (max-width: 375px) {
    .p-text {
        padding: 1rem 2rem;
    }
    .card {
        margin: .5rem 2rem;
    }
    .btn-link {
        font-size: 13px;
    }
    .btn-link:before {
        top: 35.5px;
    }
    .carousel-item {
        height: 13rem;
    }
}

/*-------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block a {
    color: #fff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

i.fa-facebook-f:hover {
    background: #3b5998;
}

i.fa-instagram:hover {
    background: #c32aa3;
}

i.fa-twitter:hover {
    background: #00acee;
}

i.fa-youtube:hover {
    background: #c4302b;
}

#footer-details {
    padding: 20px;
}

.form-group {
    margin-bottom: 0.7rem;
}

.btn-footer {
    display: inline-block;
    background: #dbdbdb;
    color: #525252;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 15px;
}